/* RESET THE STYLESHEET */

:root{
  --ff-primary: 'Roboto', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-subregular: 300;
  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 700;

  /* --primary-color: #003464; */
  --primary-color: #6f8197;
  --secondary-color: #1c375b;
  --third-color: #ecebeb;
  --fourth-color: #d2544a;
  --fifth-color: #cd4236;

  --primary-shadow-color: #404750;
  --secondary-shadow-color: #182536;
  --third-shadow-color: #b4b4b4;
  --fourth-shadow-color: #793c39;
  --fifth-shadow-color: #94413a;

  /* COMPLEMENTARY COLORS */
  --complementary-color: #643000;

  /* ANALOGOUS COLORS */
  --analogous-1: #000264;
  --analogous-2: #006462;

  /* TRIADIC COLORS */
  --triadic-1: #640034;
  --triadic-2: #346400;

  /* TETRAEDIC COLORS */
  --tetraedic-1: #620064;
  --tetraedic-2: #643000;
  --tetraedic-3: #026400;

  /* 2px */
  --fs-2: 0.125rem;  
  /* 4px */
  --fs-4: .25rem;  
  /* 8px */
  --fs-8: .5rem;  
  /* 12px */
  --fs-12: .75rem;  
  /* 16px */
  --fs-16: 1rem;
  /* 18px */
  --fs-18: 1.125rem;
  /* 20px */
  --fs-20: 1.25rem;
  /* 24px */
  --fs-24: 1.5rem;
  /* 32px */
  --fs-32: 2rem;
  /* 40px */
  --fs-40: 2.5rem;
  /* 48px */
  --fs-48: 3rem;
  /* 56px */
  --fs-56: 3.5rem;
  /* 64px */
  --fs-64: 4rem;
  /* 72px */
  --fs-72: 4.5rem;
  /* 80px */
  --fs-80: 5rem;
  /* 88px */
  --fs-88: 5.5rem;
  /* 96px */
  --fs-96: 6rem;
  /* 104px */
  --fs-104: 6.5rem;
  /* 112px */
  --fs-112: 7rem;
  /* 120px */
  --fs-120: 7.5rem;
  /* 128px */
  --fs-128: 8rem;
}

@media screen and (min-width: 48em){
  :root{
    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  background-color: whitesmoke;

  /* background-image: url('./images/backgroundGeneral/Eran_Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.pos-c{
  display: flex;
  justify-content: center;
}

.pos-c-cc{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ORIGINAL WHEN STARTING A PROJECT */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
